<div class="main laptop_view">
    <app-navigation-bar
     [showApplicantNavigation]="showApplicantNavigation"></app-navigation-bar>

     <section class="applicant_job_section">
        <!-- [ngClass]="{'default': views == 'jobs'}" -->
    <div class="jobs_wrapper" [ngClass]="{'default': views == 'jobs'}" >
      <div class="jobs_wrapper__container">
        <!-- <a class="history pl-2"><img src="../../../assets/images/go_back.svg" alt=""> Go back</a> -->
        <div class="jobs_section">
          <h2 class="pl-2">Your Job Applications</h2>
          <span class="pl-2">Click on the card to track your job application</span>
          <div  class="jobs mb-20" [ngClass]="{'plenty': jobsAppliedTo!.length > 1, 'one': jobsAppliedTo!.length == 1}">
            <ng-container *ngFor="let job of jobsAppliedTo; index as i">
              <app-job
               [AnApprovedJob]="job"
                [showApplicantJob]="true"
                (displayJobDetails)="handleClick($event)"></app-job>
             </ng-container>

            <ng-container *ngIf="jobsAppliedTo!.length < 1 && isLoading">
              <ngx-skeleton  borderRadius="12px" height="30vh" margin="15px 0 8px 0" width="100%">
                <div class="job" >
                  <div class="job_title">
                    <span>  </span>
                    <span>   </span>
                  </div>
              
                  <div class="job_location">
                    <span> </span>
                    <span> </span>
                  </div>
              
                  <div class="job_dead_line">
                    <span></span>
                    <span>   </span>
                  </div>
              
                  <div class="approved_jobs_actions" >
                    <span></span> <span>  </span>
                  </div>
                </div>
              </ngx-skeleton>

              <ngx-skeleton  borderRadius="12px" height="30vh" margin="15px 0 8px 0" width="100%">
                <div class="job" >
                  <div class="job_title">
                    <span>  </span>
                    <span>   </span>
                  </div>
              
                  <div class="job_location">
                    <span> </span>
                    <span> </span>
                  </div>
              
                  <div class="job_dead_line">
                    <span></span>
                    <span>   </span>
                  </div>
              
                  <div class="approved_jobs_actions" >
                    <span></span> <span>  </span>
                  </div>
                </div>
              </ngx-skeleton>
            </ng-container>
            
             <!-- !hideNoContent  !isLoading -->
             <ng-container >
               <app-no-content></app-no-content>
             </ng-container>    
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="{'default': views == 'preview'}" class="preview_page external_job_view">
      <div class="body_content w-full ">
       <a (click)="views = 'jobs'" class="history"><img src="../../../assets/images/go_back.svg" alt=""> Go back</a>
       
        <section class="main_view">
          <!-- <h5 *ngIf="views == 'preview' && subView == 'preview'">Preview the Job Details Before Submitting for Approval</h5> -->
          <div class="scroll_enabled ">
            <div class="top_display">
                <a [ngClass]="{'selected': subView == 'preview'}"(click)="subView = 'preview'" class="button ">Job Details</a>
                <a [ngClass]="{'selected': subView == 'track application'}" (click)="subView = 'track application'" class="button">Track Application</a>
            </div>
            <div class="main_view__content">
              <div [ngClass]="{'block': subView == 'preview', '!hidden': subView == 'track application' }" class="preview_details_container">
                <div class="reportTo_supervises">
                  <div class="reportTo">
                    <span>Report To</span>
                    <p> {{ oneApplication?.reportTo }} </p>
                  </div>
                  <div class="supervises">
                    <span>Supervises</span>
                    <p> {{ oneApplication?.supervises }} </p>
                  </div>
               </div>
   
   
               <div class="job_objectives" >
                 <span>Job Objective</span> 
                 <ul #JobObjectivesFour>
                  
                 </ul>
               </div>
   
               <div class="accountabilities">
                <span>Accountabilities</span>
                 <ul class="holder" #AccountabilityFour>
   
                 </ul>
              </div>
   
              <div class="professional_competencies" >
                <span>Professional Competencies</span>
                <ul class="holder" #ProfessionalCompetenciesFour>
                  
                </ul>
              </div>
   
              <div class="behavioralCompetencies_organisationalCompetencies">
                <div class="behavioralCompetencies" >
                  <span>Behavioral Competencies</span>
                  <ul class="holder" #BehavioralCompetenciesFour>
   
                  </ul>
                </div>
                <div class="organisationalCompetencies" >
                  <span>Organisational Competencies</span>
                  <ul class="holder" #OrganisationalCompetenciesFour>
   
                  </ul>
                </div>
               </div>
   
               <div class="person_specifications">
                <span>Person Specification/Job Profile</span>
                <ul class="holder" #PersonSpecificationsFour>
                   
                </ul> 
                 
              </div>
                
              <div class="job_objectives" >
                <span>Educational Qualification</span>
                 <ul class="holder" #EducationalQualificationsFour>
   
                 </ul>
              </div>
   
              <div class="job_objectives">
                <span>Experience</span>
                 <ul class="holder" #ExperienceFour>
   
                 </ul>
              </div>
              </div>
              <div [ngClass]="{'block': subView == 'track application', '!hidden': subView == 'preview'}" class="preview_details_container">
                 <ol class="application_levels">
                  <li [ngClass]="{'completed': applications![0]?.applicationStage! > 0, 
                    'current_stage': applications![0]?.applicationStage! == 0 && applications![0]?.approverStatus == 'Pending'}" 
                      class="a_level">
                    <div class="content">
                      <span><a > {{ applications![0]?.approverStatus == 'Approve' ?  'Application': 'Application'}} </a> 
                        <small class="date_submitted"> {{ today | date:'mediumDate' }} </small></span>
                      <small class="last_text">{{ applications![0]?.applicationStage! < 1 ? 'Your Application has been submitted and it is Pending Review' : 'Your Application has been reviewed and has been moved to test stage'  }} </small>
                    </div>
                  </li>

                  <li [ngClass]="{'completed': applications![0]?.applicationStage! >= 1 
                      && (applications![0]?.applicationStageName == 'Interview01' || applications![0]?.applicationStageName == 'Interview02'
                       || applications![0]?.applicationStageName == 'Interview03' || applications![0]?.applicationStageName == 'MedicalTest'
                       || applications![0]?.applicationStageName == 'OfferLetter' || applications![0]?.applicationStageName == 'PostAceptance'),
                    'current_stage': applications![0]?.applicationStage! == 1 
                    && applications![0]?.applicationStageName == 'TestStage' }" class="a_level">
                    <div class="content">
                      <span><a >Test Stage</a></span>
                      <small *ngIf="applications[0]?.invitationStatus == 'Not Sent'" class="last_text">
                        {{ applications[0]?.applicationStage! == 1  && applications[0]?.invitationStatus == 'Not Sent' ? 'A test invite will be sent to you soon.': 'No Description yet'}}  
                      </small>
                      <small *ngIf="applications[0]?.invitationStatus == 'Sent'" class="last_text">
                        A test invite has been sent
                        <small (click)="showTestDetails($event, 'Test Details')" class="font-bold cursor-pointer hover:border-b hover:border-b-hrms-hoverBlue-1 !text-hrms-hoverBlue-1 !text-xl !font-hrmsCamptonMedium"> View details</small>
                      </small>
                    </div>
                  </li>

                  <li [ngClass]="{
                    'completed': applications![0]?.applicationStage! >= 2 
                      && (applications![0]?.applicationStageName == 'Interview02'
                      || applications![0]?.applicationStageName == 'Interview03' || applications![0]?.applicationStageName == 'MedicalTest'
                      || applications![0]?.applicationStageName == 'OfferLetter' || applications![0]?.applicationStageName == 'PostAceptance'  ),
                    'current_stage': applications![0]?.applicationStage! == 2 && applications![0]?.approverStatus == 'Pending' }" class="a_level">
                    <div class="content">
                      <span><a >Interview 01</a></span>
                      <small class="last_text">{{ applications![0]?.applicationStage! == 2 &&  applications![0]?.invitationStatus == 'Sent' ?  'Invite has been sent' : applications![0]?.applicationStage! >= 3 ? 'Your Interview has been assessed and has been moved to Interview 02 stage' : 'No Description yet'}}</small>
                    </div>
                  </li>
                  <li [ngClass]="{
                    'completed': applications![0]?.applicationStage! >= 3
                    && ( applications![0]?.applicationStageName == 'Interview03' || applications![0]?.applicationStageName == 'MedicalTest'
                    || applications![0]?.applicationStageName == 'OfferLetter' || applications![0]?.applicationStageName == 'PostAceptance'),
                    'current_stage': applications![0]?.applicationStage! == 3 && applications![0]?.approverStatus == 'Pending' }" class="a_level">
                    <div class="content">
                      <span><a >Interview 02</a></span>
                      <small class="last_text">{{ applications![0]?.applicationStage! == 3 && applications![0]?.invitationStatus == 'Sent' ? 'Invite has been sent' : applications![0]?.applicationStage! >= 4 ? 'Your Interview has been assessed and has been moved to Interview 03 stage' : 'No Description yet'}}</small>
                    </div>
                  </li>

                  <li [ngClass]="{
                    'completed': applications![0]?.applicationStage! >= 4
                      && (applications![0]?.applicationStageName == 'MedicalTest' || applications![0]?.applicationStageName == 'OfferLetter' || applications![0]?.applicationStageName == 'PostAceptance'),
                    'current_stage': applications![0]?.applicationStage! == 4 && applications![0]?.approverStatus == 'Pending'}" class="a_level">
                    <div class="content">
                      <span><a >Interview 03</a></span>
                      <small class="last_text">{{ applications![0]?.applicationStage! == 4 && applications![0]?.invitationStatus == 'Sent' ? 'Invite has been sent' : applications![0]?.applicationStage! >= 5 ? 'Your Interview has been assessed and has been moved to Medicals stage' : 'No Description yet'}}</small>
                    </div>
                  </li>

                  <li [ngClass]="{
                    'completed': applications![0]?.applicationStage! >= 5 
                      && (applications![0]?.applicationStageName == 'OfferLetter' || applications![0]?.applicationStageName == 'PostAceptance'),
                    'current_stage': applications![0]?.applicationStage! == 5 && applications![0]?.approverStatus == 'Pending' }" class="a_level">
                    <div class="content">
                      <span><a >Medical Test</a></span>
                      <small class="last_text">{{ applications![0]?.applicationStage! == 5 && applications![0]?.invitationStatus == 'Sent' ? 'Invite has been sent' : applications![0]?.applicationStage! >= 6 ? 'Your medical assessment has been assessed completed and your offer letter is being prepared' : 'No Description yet'}}</small>
                    </div>
                  </li>

                  <li  [ngClass]="{
                    'completed': applications![0]?.applicationStage! >= 6
                      && applications![0]?.applicationStageName == 'PostAceptance',
                    'current_stage': applications![0]?.applicationStage! == 6  }" class="a_level">
                    <div class="content">
                      <span><a >Offer Letter</a></span>
                      <small *ngIf="applications[0]?.invitationStatus != 'Sent'" class="last_text">No Description yet</small>

                      <small *ngIf="applications[0]?.invitationStatus == 'Sent'" class="last_text">
                        An offer letter has been sent to you.
                        <small 
                        (click)="showTestDetails($event, 'Offer Letter Details')"
                        class="font-bold cursor-pointer hover:border-b hover:border-b-hrms-hoverBlue-1 !text-hrms-hoverBlue-1 !text-xl !font-hrmsCamptonMedium"> View details</small>
                      </small>
                    </div>
                  </li>

                  <li class="a_level last"
                  [ngClass]="{
                    'completed': applications![0]?.applicationStage! == 7
                      && applications![0]?.applicationStageName == 'PostAceptance' }">
                    <div class="content">
                      <span><a >Post Acceptance</a></span>
                      <small *ngIf="applications![0]?.applicationStage!  < 7"  class="last_text">No Description yet</small>
                      <small *ngIf="applications![0]?.acceptanceDocument == 'Pending'"  class="last_text">
                        Provide the information and documents needed in here 
                        <small 
                        (click)="startUploadingDocuments()"
                        class="font-bold cursor-pointer hover:border-b hover:border-b-hrms-hoverBlue-1 !text-hrms-hoverBlue-1 !text-xl !font-hrmsCamptonMedium"> View details</small>
                      </small>
                      <small *ngIf="applications![0]?.acceptanceDocument == 'Submitted'"  class="last_text">Documents Uploaded</small>
                    </div>
                  </li>
                 </ol>
              </div>
           </div>
          </div>
          
        </section>
      
       
       <aside class="floating_view external_job_view">
         <ul class="floating_view__container">
           <li>
             <p class="heading">
               <span>Location</span> 
             </p>
             <p class="text"> {{ oneApplication?.location }} </p>
           </li>
           
           <li class="">
            <p class="heading">
              <span>Grade</span> 
            </p>
            <p class="text">  {{ oneApplication?.grade }} </p>
           </li>

           <li class="">
            <p class="heading">
              <span>Employment Type</span> 
            </p>
            <p class="text">  {{ oneApplication?.type }} </p>
           </li>
           
           <li class="">
            <p class="heading">
              <span>Department</span> 
            </p>
            <p class="text">  {{ oneApplication?.department }} </p>
          </li>
           <li class="">
             <p class="heading">
               <span>Deadline</span>     
             </p>
             <p class="text">  {{ oneApplication?.deadline | date: 'mediumDate'}} </p>
           </li>
         </ul>
       </aside>

    
      </div>
    </div>
     </section>
    <app-footer></app-footer>
</div>

<!-- <div class="main mobile_view">
  <app-navigation-bar
     [showApplicantNavigation]="showApplicantNavigation"></app-navigation-bar>
</div> -->