
:host{
    grid-column: 1/2;
    grid-row: 1/1;

    // chrome
    &::-webkit-scrollbar {
        transition: all 250ms ease-in-out;
        width: .5em;
      }
       
      &::-webkit-scrollbar-track {
        @apply px-1;
      }
       
      &::-webkit-scrollbar-thumb {
        @apply bg-hrms-gray-bg rounded-md;
      }

    // firefox
    scrollbar-color: #6c6b6b #F5F5F5; /* track thumb */
    scrollbar-width: thin;
}

