.header_nav{
    box-shadow: var(--general_box_shadow);
    @apply py-1 bg-white h-[9.5vh] overflow-visible w-full min-h-[8vh];
    &__child{
        @apply flex justify-between gap-2 h-full pr-10; 
    }

    & .omni_holder{
        & .text_box{
            inset: 0 0 0 20%;
            & .text:first-child{
                font-size: 1.55rem;
                @apply pt-1;
            }
            & .text:last-child{ 
                font-size: 1.7rem;
                @apply pt-1;
            }
        }    
    }

    & .second_half{
        @apply flex gap-2 min-w-[26rem] overflow-hidden items-center justify-between;

        & .bell_icon_container{
            @apply py-1 overflow-visible;
        }

        & .logged_in_user_credential{
            font-size: .905em;
            @apply flex flex-col py-4 font-hrmsCamptonMedium font-semibold text-hrms-genBlueColor-1 items-center justify-end;

            & span:last-child{
                font-size: .85em;
                @apply self-end font-hrmsCamptonLight text-hrms-text-dark;
            }
        }

        & .logout_container{
            @apply pr-6;
        }

    }

}