<div class="main">
    <app-navigation-bar></app-navigation-bar>
    <app-reusable-search></app-reusable-search>


    <div class="jobs_wrapper">
      <div class="jobs_wrapper__container">
        <a class="history"><img src="../../../assets/images/go_back.svg" alt=""> Go back</a>
        <div class="jobs_section">
          <h2>Join Our Team</h2>
          <span>See Available Openings below</span>
          <div class="jobs">
            <div class="job">
              <div class="job_title">
                <span>Graduate Trainee</span>
                <span>All Department</span>
              </div>

              <div class="job_location">
                <span>Imo, Nigeria</span>
                <span>Entry Level</span>
              </div>

              <div class="job_dead_line">
                <span>Deadline:</span>
                <span>12-Oct-2022</span>
              </div>
            </div>
            <div class="job">
              <div class="job_title">
                <span>Graduate Trainee</span>
                <span>All Department</span>
              </div>

              <div class="job_location">
                <span>Imo, Nigeria</span>
                <span>Entry Level</span>
              </div>

              <div class="job_dead_line">
                <span>Deadline:</span>
                <span>12-Oct-2022</span>
              </div>
            </div>
            <div class="job">
              <div class="job_title">
                <span>Graduate Trainee</span>
                <span>All Department</span>
              </div>

              <div class="job_location">
                <span>Imo, Nigeria</span>
                <span>Entry Level</span>
              </div>

              <div class="job_dead_line">
                <span>Deadline:</span>
                <span>12-Oct-2022</span>
              </div>
            </div>
            <div class="job">
              <div class="job_title">
                <span>Graduate Trainee</span>
                <span>All Department</span>
              </div>

              <div class="job_location">
                <span>Imo, Nigeria</span>
                <span>Entry Level</span>
              </div>

              <div class="job_dead_line">
                <span>Deadline:</span>
                <span>12-Oct-2022</span>
              </div>
            </div>
            <div class="job">
              <div class="job_title">
                <span>Graduate Trainee</span>
                <span>All Department</span>
              </div>

              <div class="job_location">
                <span>Imo, Nigeria</span>
                <span>Entry Level</span>
              </div>

              <div class="job_dead_line">
                <span>Deadline:</span>
                <span>12-Oct-2022</span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
</div>