<header class="header_wrapper laptop_view" *ngIf="!showApplicantNavigation">
    <nav class="header_content_container">
        <a href="" class="globus_logo">
            <img src="../../../assets/images/globus_logo_with_text.svg" alt="Globus Logo with Text">
        </a>
         <div class="button_wrapper">
            <a routerLink="/login" class="generic_button track_application white_inside">
                Track Your Application
            </a>
            <a [routerLink]="['jobs', 'External']" class=" generic_button join_tribe red_inside">Join Our Team</a>
         </div>
    </nav>
</header>

<header class="header_wrapper mobile_view" [ngClass]="{'elongate': elongate}">
    <nav class="header_content_container" [ngClass]="{}">
        <a href="" class="globus_logo">
            <img src="../../../assets/images/mobile_globus_logo.svg" alt="Globus Logo with Text">
        </a>
        <div (click)="toggleHeader()" tabindex="0" class="button_wrapper">
             <span>
                <img src="../../../assets/images/harmburger.svg" alt="">
             </span>
         </div>
    </nav>
    <div class="action_buttons" [ngClass]="{'!z-10 !bottom-2 !opacity-100': elongate}">
        <a routerLink="/login" class="generic_button track_application white_inside">
            Track Your Application
        </a>
        <a [routerLink]="['jobs', 'External']" class=" generic_button join_tribe red_inside">Join Our Team</a>
    </div>
</header>

<header class="header_wrapper laptop_view applied_job_header" *ngIf="showApplicantNavigation">
    <nav class="header_content_container">
        <a href="" class="globus_logo">
            <img src="../../../assets/images/globus_logo_with_text.svg" alt="Globus Logo with Text">
        </a>
         <div class="profile_display_wrapper">
            <div class="profile_text">
                <span class="logged_in_username">
                    {{ loggedInUser }}
                </span>
                <span class="logged_in_useremail">
                    {{ emailOfLoggedInUser }}
                </span>
            </div>
            <div (click)="showLogout = !showLogout" class="profile_icon_container">
                <img src="../../../assets/images/profile_icon.svg" alt=""> <img class="self-end pb-4" src="../../../assets/images/drop_down_icon.svg" alt="">
                <div (click)="logout()" [ngClass]="{'!flex': showLogout}" class="drop_down_container">
                    Logout
                </div>
            </div>
            
         </div>
    </nav>
</header>