<header class="header_wrapper">
    <nav class="header_content_container">
        <a href="" class="globus_logo">
            <img src="../../../assets/images/globus_logo_with_text.svg" alt="Globus Logo with Text">
        </a>
         <div class="button_wrapper">
            <a class="generic_button track_application white_inside">
                Track Your Application
            </a>
            <a class=" generic_button join_tribe red_inside">Join Our Team</a>
         </div>
    </nav>
</header>