

:host{
    @apply flex-auto overflow-visible;
}


select{
    padding-inline: .2rem !important;
    padding-block: .2rem !important;
    font-size: 1em;
}

input:focus{
    padding-left: 4rem !important;
    padding-block: .2rem !important;
}

.select_container{
    flex-basis: 40%;
    @apply justify-start;

    & select{
        @apply w-full px-3 #{!important};
    }
}

.refresh_btn{
    @apply absolute w-14 h-auto -right-24 top-2 z-30 cursor-pointer;
}