<div class="main">
    <app-navigation-bar></app-navigation-bar>
    <section class="banner">
          <div class="banner__content_container">
            <h1>Join Our Tribe</h1>
            <p class="">
                By joining Globus Bank, you can look forward to plenty of challenges and opportunities, and the chance to develop both professionally and personally.
            </p>
            <a [routerLink]="['jobs', 'External']" class="generic_button red_inside job_opening_button">
                See Job Opening
            </a>
          </div>

    </section>
    <section class="reasons_to_join">
        <div class="content_wrapper">
            <div class="first_part">
                <div class="picture_half_one">
                    <div class="content_picture">
                        <img class=" object-cover" src="../../../assets/images/why_join_us.png" alt="why join us picture">
                    </div>
                    <div class="content_text">
                        <h2>Why Join Us</h2>
                        <div>
                            <p >
                                Globus Bank is revolutionizing the banking experience for all stakeholders. This, we are achieving through our dedicated workforce of skilled professionals who are ‘leading the change’ in this regard. Being part of the tribe means you will be part of a community of exceptional professionals who are committed to doing things inventively.
                            </p>
                            <p>
                                We are a progressive organization always seeking new and better ways to achieve our set goals, this creates an enabling environment for the fresh ideas of our innovative workforce to flourish.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="picture_half_two">
                    <div class="content_text">
                        <h2>Leveraging People Technology.</h2>
                        <div>
                            <p >
                                At Globus Bank, we are on a mission to deliver superior value to all stakeholders, leveraging people and technology in the most efficient and responsible manner. Thus, our people are our greatest assets and are most valuable to us.
                            </p>
                            
                        </div>
                    </div>
                    <div class="content_picture">
                        <img src="../../../assets/images/sliding_pix.png" alt="">
                    </div>
                </div>
            </div>
            <div class="second_part">
                <div class="second_part__picture">
                    <img 
                     src="../../../assets/images/mission_vision_pix.png" alt="mission and vision picture">
                </div>
                <div class="second_part__mission_vision">
                    <h2>Our Mission and Vision</h2>
                    <div class="statement_container">
                        <div class="vision_statement">
                            <span class="text">To be the preferred financial services provider delivering endearing customer experience.</span>
                            <span class="vision_after_img">
                                <span></span>
                                <span>Vision Statement</span>
                            </span>
                        </div>
                        <div class="mission_statement">
                            <span class="text">To serve our customers with passion and deliver superior value to all stakeholders leveraging technology and people in the most efficient and responsible manner.</span>
                            <span class="mission_after_img">
                                <span></span>
                                <span>Mission Statement</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="core_values">
        <div class="core_values__content">
            <div class="core_values__text_content">
                <h2>Our Core Value</h2>
                <p>
                    Our core values are embedded throughout the Bank, particularly in our corporate culture; this enables us to attract and retain some of the most dynamic, efficient, trustworthy, and unique talent in the industry, who are constantly striving for excellence. Working at Globus Bank is a genuinely gratifying experience, thanks to our experienced personnel, ambitious business plan, and innovative work environment. You will also receive the following exclusive benefits.
                </p>
            </div>
            <div class="core_values__boxes">
                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/creativity_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            Creativity
                        </h6>
                    </div>

                    <div class="hover_container"></div>
                </div>

                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/excellence_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            Excellence
                        </h6>
                    </div>
                    <div class="hover_container"></div>
                </div>

                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/respect_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            Respect
                        </h6>
                    </div>
                    <div class="hover_container"></div>
                </div>
                

                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/reliabilty_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            Reliability
                        </h6>
                    </div>
                    <div class="hover_container"></div>
                </div>
                

                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/simplicity_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            Simplicity
                        </h6>
                    </div>
                    <div class="hover_container"></div>
                </div>
                
                <div class="box_container">
                    <div class="box">
                        <div class="innards">
                            <span>
                                <img src="../../../assets/images/logo_icon.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/images/add.svg" alt="">
                            </span>
                        </div>
                        <h6>
                            ...Lead the Change
                        </h6>
                    </div>
                    <div class="hover_container"></div>
                </div>
                
            </div>
        </div>
    </section>
    <section class="benefits_of_joining_insurance">
        <div class="benefits">
            <div class="benefit">
                <span class="image">
                    <img src="../../../assets/images/empty_circle.svg" alt="">
                </span>
                <h5>Competitive Salaries</h5>
                <p>
                    At Globus Bank we offer one of the most competitive salaries in the industry, while also providing other interesting incentives for motivation with respect to your productivity.
                </p>
            </div>
            <div class="benefit">
                <span class="image">
                    <img src="../../../assets/images/circle_with_box.svg" alt="">
                </span>
                <h5>Career Development</h5>
                <p>
                    At Globus Bank we offer plenty of opportunities to help you learn, grow and move your career forward. There is a structured plan for professional courses to improve your knowledge base in your field.
                </p>
            </div>
            <div class="benefit">
                <span class="image">
                    <img src="../../../assets/images/circle_with_triangle.svg" alt="">
                </span>
                <h5>Health Insurance</h5>
                <p>
                    Your wellbeing is important to us, so we offer a range of health and wellbeing benefits. The range available depends on the HMO package and plan of your choice, Which is tailored to your health needs.
                </p>
            </div>
        </div>
         <div class="job_opening_container">
            <a [routerLink]="['jobs', 'External']" class=" generic_button red_inside">See Job Opening</a>
         </div>
    </section>
    <app-footer></app-footer>
</div>