

.loginCustom{
    @apply w-full px-4 sm:px-16 lg:px-7 xl:px-7 h-full  py-12
}

.loginForm{
    @apply w-full;
    .login-title{
        font-size: 1.25em;
        @apply flex justify-center font-hrmsCamptonBold;
    }

    .sub-title{
        font-size: 1em;
    }

    .forgot_password{
        color: var(--light-bgColor);
        & span{
        line-height: 2.1;
        border-bottom: 2px dashed #5485b6;
        }
    }

    & form .parent_input_control .form-control#staff_username{
        @apply rounded-b-none rounded-t-md;
    }

    & form .parent_input_control .form-control#staff_name{
        @apply rounded-t-none rounded-b-md;
    }

    & form .parent_input_control:last-child{
        @apply mt-7;
    }
}


.globus_logo_text{
    font-family: 'Campton Medium';
}

.first_text{
    font-family: "Campton Semi Bold";
    letter-spacing: -1px;
    @apply text-3xl sm:text-5xl  md:text-5xl xl:text-7xl overflow-visible;
}

.second_text{
    font-family: "Campton Semi Bold";
    @apply text-4xl sm:text-6xl md:text-6xl xl:text-8xl overflow-visible;
}

