<div class="sideBar_Half__parent ">
    <!-- <div class="w-full h-[8vh] flex gap-4 items-center">
        <div class="omni_holder">
            <img class="max-w-[80%]" src="../../../assets/images/harmburger_icon.svg" alt="">
        </div> 
        <div class=""> 
            <img  src="../../../assets/images/smaller_globus_logo_with_text.svg" alt="">
        </div>
    </div> -->
    <div class="side_bars">
        <div class="small_side_bar sidebarBg">
            <ul class="pt-7 listParent ">
                <li  [routerLinkActive]="['activated']"   class="activated"> 
                    <span class="">
                        <img class="" src="../../../assets/images/user-tag.svg" alt="">    
                    </span>
                     <span>
                        Employment
                     </span>
                </li>
                <li  [routerLinkActive]="['activated']" class=""> 
                    <span class="">
                        <img class="" src="../../../assets/images/send-sqaure-2.svg" alt=""></span>
                     <span>
                        Payroll
                     </span>
                </li>
                <li  [routerLinkActive]="['activated']" class=""> 
                    <span class="">
                        <img class="" src="../../../assets/images/moneys.svg" alt="">
                    </span>
                     <span>
                        Leave
                     </span>
                </li>
                
            </ul>
        </div>
        <div class="big_side_bar pt-5">
            <ul class="pt-7 extra_side_bar">
                <li
                  [ngClass]="{'!opacity-20 !pointer-events-none':rolesInThisApp == 'Staff' || rolesInThisApp == 'Audit'}"
                  [routerLinkActive]="['activated']" 
                    [routerLink]="['job-management']" class="" title="Job Management"> 
                    <span class="">
                        <img class="" src="../../../assets/images/briefcase.svg" alt="">    
                    </span>
                     <span>
                        Job Management
                     </span>
                </li>
                <li 
                 [routerLink]="['job-openings']"  [routerLinkActive]="['activated']" 
                   title="Job Openings"
                   class=""> 
                    <span class="">
                        <img class="" src="../../../assets/images/chair_alt_FILL0_wght300_GRAD0_opsz24 (1).svg" alt=""></span>
                     <span>
                        Job Openings
                     </span>
                </li>
                <li  
                [routerLinkActive]="['activated']" 
                     [routerLink]="['applicant-selection', 'all applications']"  
                  class="" title="Applicant Selection"> 
                    <span class="">
                        <img class="" src="../../../assets/images/calendar.svg" alt="">
                    </span>
                     <span>
                        Applicant Selection
                     </span>
                </li>

                <li  
                 [ngClass]="{'!opacity-20 !pointer-events-none':rolesInThisApp == 'Inputter'}"
                 [routerLinkActive]="['activated']" title="Assessment" [routerLink]="['assessment']" class=""> 
                    <span class="">
                        <img class="" src="../../../assets/images/people.svg" alt="">
                    </span>
                     <span>
                        Assessment
                     </span>
                </li>
                <li  
                  [ngClass]="{'!opacity-20 !pointer-events-none':rolesInThisApp == 'Staff' || rolesInThisApp == 'Inputter' || rolesInThisApp == 'Audit'}"
                  [routerLink]="['scheduler']"
                  [routerLinkActive]="['activated']" class="" title="Schedule Master">  
                    <span class="" >
                        <img class="" src="../../../assets/images/document.svg" alt="">
                    </span>
                     <span>
                        Schedule Master
                     </span>
                </li>
                <!-- <li  
                 [ngClass]="{'!opacity-20 !pointer-events-none':rolesInThisApp == 'Staff' || rolesInThisApp == 'Inputter' || rolesInThisApp == 'Audit'}"
                 [routerLinkActive]="['activated']" [routerLink]="['role-mgt']" class="" title="Manage Roles"> 
                    <span class="">
                        <img class="" src="../../../assets/images/external-drive.svg" alt="">
                    </span>
                     <span>
                        Manage Roles
                     </span>
                </li>

                <li
                  [ngClass]="{'!opacity-20 !pointer-events-none':rolesInThisApp == 'Staff' || rolesInThisApp == 'Inputter' || rolesInThisApp == 'Audit'}"  
                  [routerLinkActive]="['activated']" class="" title="Archieve"> 
                    <span class="">
                        <img class="" src="../../../assets/images/external-drive.svg" alt="">
                    </span>
                     <span>
                        Archieve
                     </span>
                </li> -->
                
            </ul>
        </div>
    </div>
</div>