
.sideBar_Half__parent{
    & .listParent{
        & li{
            transition: all 500ms ease-in-out;
            cursor: pointer;
            font-size: .8em;
            @apply  font-hrmsCamptonExtraLight pl-4 py-3 mb-2 flex flex-col gap-3 text-white items-center font-medium;

            & span{
                @apply pr-4;
            }
            & span:first-child{
                @apply relative overflow-x-visible;
            }
            &:hover, &.activated{
                @apply transition-all relative font-hrmsCamptonBook overflow-hidden;

                & span:first-child{
                    @apply isolate pl-4;
                }

                & span:first-child::after{
                    position: absolute;
                    z-index: -1;
                    content: '';
                    @apply -inset-2 rounded-full bg-hrms-genBlueColor-1;
                }
            }

            
        }
        
        
    }
    & .side_bars{
        
        display: grid;
        grid-template-columns: 8rem 1fr;
        grid-template-rows: 100%;
        @apply w-full h-[92vh] gap-0;

       
    }
    & .small_side_bar{
        grid-column: span 1;
        grid-row: span 1;
        @apply w-full;
    }

    & .big_side_bar{
        --big-screen-li-font: .685em;
        grid-column: span 1;
        grid-row: span 1;
        @apply w-full bg-hrms-banner-1;

        & .extra_side_bar{
            @apply flex flex-col justify-center gap-14 pt-10;
            & li{
                font-size: var(--big-screen-li-font);
                transition: all 500ms ease-in-out;
                cursor: pointer;
                @apply flex gap-5 py-4 pl-10 text-hrms-text-light items-center;

                &:hover, &.activated{
                    @apply bg-hrms-links-selected mx-4 rounded-[28px];

                    & span:last-child{
                        @apply text-hrms-genBlueColor-1 font-hrmsCamptonMedium self-center font-semibold;
                    }

                    & span:first-child::after{
                        position: absolute;
                        z-index: -1;
                        content: '';
                        @apply hidden;
                    }
                }     
            }

            & .applicant_big{
                @apply hidden;
            }
        }


        @media(min-width: 1350px){
            --big-screen-li-font: .585em; 
            
           .extra_side_bar:not(.reducedSize) li{
            @apply gap-3 items-start px-6;
           } 
           .extra_side_bar:not(.reducedSize) li span:first-child{
              width: 1rem;
           }
         }

         @media(width < 1410px){
            .extra_side_bar:not(.reducedSize) li.applicant_small{

                @apply flex gap-3 items-start px-6;;
            }

            .extra_side_bar:not(.reducedSize) li.applicant_small span:first-child{
                display: block;
                width: 1rem;
            }
         }

        @media( width > 1410px){
            --big-screen-li-font: .685em; 

            .extra_side_bar:not(.reducedSize) .applicant_big{
                @apply flex;
            }
            
            .extra_side_bar:not(.reducedSize) li{
             @apply gap-5 items-center pl-10;
            } 
            .extra_side_bar:not(.reducedSize) li span:first-child{
               width: auto;
            }

            & .extra_side_bar .applicant_small{
                @apply hidden;
            }
        }
    }

   

   
}

.omni_holder{
    @apply flex justify-center w-[35%];
}