
.sideBar_Half__parent{
    & .listParent{
        & li{
            transition: all 500ms ease-in-out;
            cursor: pointer;
            font-size: .8em;
            @apply  font-hrmsCamptonExtraLight pl-4 py-3 mb-2 flex flex-col gap-3 text-white items-center font-medium;

            & span{
                @apply pr-4;
            }
            & span:first-child{
                @apply relative overflow-x-visible;
            }
            &:hover, &.activated{
                @apply transition-all relative font-hrmsCamptonBook overflow-hidden;

                & span:first-child{
                    @apply isolate pl-4;
                }

                & span:first-child::after{
                    position: absolute;
                    z-index: -1;
                    content: '';
                    @apply -inset-2 rounded-full bg-hrms-genBlueColor-1;
                }
            }

            
        }
        
        
    }
    & .side_bars{
        @apply w-full h-[92vh] flex;
    }
    & .small_side_bar{
        @apply w-[32%];
    }

    & .big_side_bar{
        @apply w-[68%] bg-hrms-banner-1;

        & .extra_side_bar{
            @apply flex flex-col justify-center gap-14 pt-10;
            & li{
                font-size: .685em;
                transition: all 500ms ease-in-out;
                cursor: pointer;
                @apply flex gap-5 py-4 pl-10 text-hrms-text-light items-center;

                &:hover, &.activated{
                    @apply bg-hrms-links-selected mx-4 rounded-[28px];

                    & span:last-child{
                        @apply text-hrms-genBlueColor-1 font-hrmsCamptonMedium self-center font-semibold;
                    }

                    & span:first-child::after{
                        position: absolute;
                        z-index: -1;
                        content: '';
                        @apply hidden;
                    }
                }
            }
        }
    }
}

.omni_holder{
    @apply flex justify-center w-[35%];
}