<footer>
    <div class="footer_with_socialLinks">
        <div class="socialLinks_container">
            <div class="privacy_policy_terms_condition">
                <a href="https://www.globusbank.com/PrivacyPolicy.html" class="privacy_policy" >Privacy Policy</a>
                <a href="https://www.globusbank.com/TermsCondition.html" class="terms_condition" >Terms and Condition</a>
            </div>
            <div class="social_media_links">
                <a  target="_blank" href="https://www.facebook.com/Globus-Bank-Limited-364357057752038" class="link">
                    <img src="../../../assets/images/facebook.svg" alt="">
                </a>
                <a target="_blank" href="https://www.instagram.com/globusbankng/" class="link">
                    <img src="../../../assets/images/instagram.svg" alt="">
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/globus-bank-limited" class="link">
                    <img src="../../../assets/images/linkedin.svg" alt="">
                </a>
                <a target="_blank" href="info@globusbank.com" class="link">
                    <img src="../../../assets/images/mail.svg" alt="">
                </a>
                <a target="_blank" href="https://twitter.com/GlobusBankNG" class="link">
                    <img src="../../../assets/images/twitter.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="globus_rights_reserved">
        <div class="globus_rights_reserved__contents">
            <span>&copy;2019 - 2022 Globus Bank.</span> <span>All Rights Reserved</span>
        </div>
    </div>
</footer>