<footer>
    <div class="footer_with_socialLinks">
        <div class="socialLinks_container">
            <div class="privacy_policy_terms_condition">
                <span class="privacy_policy" >Privacy Policy</span>
                <span class="terms_condition" >Terms and Condition</span>
            </div>
            <div class="social_media_links">
                <a href="" class="link">
                    <img src="../../../assets/images/facebook.svg" alt="">
                </a>
                <a href="" class="link">
                    <img src="../../../assets/images/instagram.svg" alt="">
                </a>
                <a href="" class="link">
                    <img src="../../../assets/images/linkedin.svg" alt="">
                </a>
                <a href="" class="link">
                    <img src="../../../assets/images/mail.svg" alt="">
                </a>
                <a href="" class="link">
                    <img src="../../../assets/images/twitter.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="globus_rights_reserved">
        <div class="globus_rights_reserved__contents">
            <span>&copy;2019 - 2022 Globus Bank.</span> <span>All Rights Reserved</span>
        </div>
    </div>
</footer>